atomicwrites==1.4.1
attrs==22.1.0
blinker==1.5
Brotli==1.0.9
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.0.12
colorama==0.4.5
cryptography==37.0.4
dataclasses==0.8
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
importlib-metadata==4.8.3
iniconfig==1.1.1
kaitaistruct==0.10
numpy==1.19.5
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pydivert==2.1.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
PySocks==1.7.1
pytest==7.0.1
pytest-html==3.1.1
pytest-metadata==1.11.0
regex==2022.7.25
requests==2.27.1
selenium==3.141.0
selenium-wire==4.6.5
semantic-version==2.10.0
setuptools-rust==1.1.2
tomli==1.2.3
typing_extensions==4.1.1
urllib3==1.26.11
wsproto==1.0.0
zipp==3.6.0
zstandard==0.18.0
